<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript"
        src="https://apis.google.com/js/platform.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="./doc/css/cloud3.css">


<title>Welcome - Oracle Application Container Cloud</title>

</head>
<body>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <header class="navbar-fixed-top">
                <hgroup class="container">
                        <div class="cloudLogo columns">
                                <a href="http://cloud.oracle.com" target="_blank"><img
                                        alt="Oracle Cloud logo" src="doc/images/oracle-cloud-logo.png"
                                        border="0" /></a>
                        </div>

                </hgroup>
        </header>


        <div class="blueBanner">
                <div class="container">

                        <div class="blueBannerLogo img-center-align">
                                <img src="doc/images/applicationcontainer_w_72.png" alt="" />
                        </div>

                        <div class="blueBannerHeading">
                                <h1 class="blueBannerTitleWithSubtitle">
                                        <a href="/ind" style="color: #ffffff">Oracle Application Container
                                                Cloud Service ... Node sample app</a>
                                </h1>
                                <h2 class="blueBannerSubTitle">Easy, rapid and agile deployment
                                        of any application.</h2>
                                <h2 class="blueBannerSubTitle">Experience the full control and
                                        flexibility of your application in the public cloud.</h2>
                        </div>
			<div class="blueBannerButton"></div>
                </div>
        </div>

        <div class="offerNavBarLayout categoryNavBarLayout"></div>

        <div class="container serviceContainer">
                <div class="overviewLayout">
                        <div class="whyOracleVideoSection">



                                <div class="overviewDemoSection">


                                        <div class="whyOracleListing">
                                                <div class="whyOracleListingLayout">
                                                        <!-- TODO: add links to Java SE Getting Started Doc -->
                                                        <!-- <a href="https://docs.oracle.com/cloud/latest/jcs_gs/index.html" target="_blank"  style="color:#333;text-decoration:none">Getting Started</a> -->
                                                        <h3><a href="http://docs.oracle.com/cloud/latest/apaas_gs/index.html" style="color: #333; text-decoration: none">Getting Started</a>
                                                        </h3>

                                                </div>
                                        </div>


                                        <div class="whyOracleListing">

                                                <div class="whyOracleListingLayout">
                                                        <!-- TODO: add link to Java SE CS Demos and Videos -->
                                                        <!-- <a href="http://docs.oracle.com/cloud/latest/jcs_gs/jcs_videos.htm" style="color:#333;text-decoration:none">Demos and Videos</a>  -->
                                                        <h3><a href="http://docs.oracle.com/cloud/latest/apaas_gs/apaas_videos.htm" style="color: #333;">Demos and Videos</a>
                                                        </h3>
                                                </div>
                                        </div>

                                        <div class="whyOracleListing">
                                                <div class="whyOracleListingLayout">
                                                        <!-- TODO: add links to Java SE Getting Started Doc -->
                                                        <!-- <a href="https://cloud.oracle.com/java?lmResID=1383678929740&tabID=1383678929739" target="_blank" style="color:#333;text-decoration:none">Tutorials</a> -->
                                                        <h3><a href="http://docs.oracle.com/cloud/latest/apaas_gs/apaas_tutorials_deploy_a_sample_application.htm" style="color: #333; text-decoration: none">Tutorials</a>
                                                        </h3>
                                                </div>
                                        </div>
					<div class="whyOracleListing">
                                                <div class="whyOracleListingLayout">
                                                        <!--<img  alt="" class="extendIcon"/>-->
                                                        <h3>
                                                                <a href="https://blogs.oracle.com/cloud/" target="_blank"
                                                                        style="color: #333; text-decoration: none">Blogs</a>
                                                        </h3>
                                                </div>
                                        </div>


                                        <div class="whyOracleListing">
                                                <div class="whyOracleListingLayout">

                                                        <h3>
                                                                <a style="color: #333; text-decoration: none">Related Links</a>
                                                        </h3>
                                                        <div style="color: #666; text-decoration: none">

                                                                <span><a href="https://cloud.oracle.com/en_US/acc" style="color: #666; text-decoration: none">Service Offerings Overview</a></span>
                                                                <br>
                                                                <span><a href="http://docs.oracle.com/cloud/latest/apaas_gs/docs.htm" style="color: #666; text-decoration: none">Books and References</a></span>
                                                                </br>
                                                                <span><a href="https://cloud.oracle.com/_downloads/SolutionBrief_ACC_Cloud_Service/Solution_Brief_Application_Container_Cloud.pdf" style="color: #666; text-decoration: none">Data Sheets</a></span>
                                                                <br>
                                                                <span> <a style="color: #666; text-decoration: none"
                                                                                href="env">Runtime Environment Details</a>
                                                                </span>

                                                        </div>
                                                </div>
                                        </div>



<!--                                        <div class="videoShadow"></div> -->
                                </div>


                        </div>
                        <div class="whyOracleDetailsSection">
                                <div class="whyOracleDetails">

                                        <div class="whyOracleListing">
                                                <div class="whyOracleListingLayout">
                                                        <!--<h3>
        Oracle Customer Experience</h3>-->
                                                        <div>
                                                                <a class="twitter-timeline" data-dnt="true"
                                                                        href="https://twitter.com/OracleCloudZone"
                                                                        data-widget-id="409967815429337088">Tweets by
									@OracleCloudZone</a>
                                                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                                        </div>

                                                </div>
                                        </div>


                                        </div>


                                        <div class="whyOracleListing">
                                                <div class="whyOracleListingLayout">
                                                        <!--<h3>
        Oracle Commerce</h3>-->
                                                        <div>


                                                        <div class="fb-like" data-href="https://www.facebook.com/OracleCloudComputing/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                                                <b>
                                                                        Facebook Like and Share -
                                                                </b>
                                                                <div class="g-plusone"
                                                                        data-href="http://www.oracle.com/us/solutions/cloud/overview/index.html"></div>
                                                                <script type="text/javascript">
                                        (function() {
                                         var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
                                         po.src = "https://apis.google.com/js/platform.js";
                                         var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
                                         })();
                                        </script>
                                                                <div class="g-ytsubscribe" data-channel="OracleCloudComputing"
                                                                        data-layout="default" data-count="default"></div>

                                                        </div>


                                                </div>
                                        </div>




                                </div>
                        </div>
                </div>
        </div>

	<footer>
                <div class="opcGlobalFooter">
                        <div class="container">
                                <div class="footerLeft columns">
                                        <ul>
                                                <li><a href="http://www.oracle.com/corporate/index.html"
                                                        target="_blank">About Oracle</a></li>
                                                <li><a
                                                        href="http://www.oracle.com/corporate/contact/index.html"
                                                        target="_blank">Contact Us</a></li>
                                                <li><a href="http://www.oracle.com/us/legal/index.html"
                                                        target="_blank">Legal Notices</a></li>
                                                <li><a href="http://www.oracle.com/us/legal/terms/index.html"
                                                        target="_blank">Terms of Use</a></li>
                                                <li><a
                                                        href="http://www.oracle.com/us/legal/privacy/index.html"
                                                        target="_blank">Your Privacy Rights</a></li>
                                        </ul>


                                        <p>Copyright &copy; 2016 Oracle and/or its affiliates.
                                                All rights reserved.</p>

                                </div>

                        </div>
                </div>
        </footer>
</body>
</html>

